# This is an automatically created file
# It adds all contributors with a @trovio.io
# addres as code owners.
#
# You probably want to edit it. You can safely do so,
# it won't be overwritten after it's created.
#
# You can find the codeowners documentation here:
# https://docs.gitlab.com/ee/user/project/codeowners/

[Contributors]
*       @egomes_trovio @nelazar
